<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="google" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Google API</label>
			<tab>sales</tab>
			<resource>Sparacino_GTM::config_sparacino_gtm</resource>
			<group id="gtm" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="999" translate="label">
				<label>Google Tag Manager</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="account" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Account Number</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
